<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.InitiativeMapper">

    <resultMap type='Initiative' id='InitiativeResult'>
        <id property='id' column='id'/>        
        <result property='description' column='description'/>
		<result property='area' column='area'/>
		<result property='numVotes' column='num_votos'/>
		<result property='startDate' column='creation_date'/>
		<result property='user' column='User_id'/>
		<result property='modifyDate' column='modify_date'/>
		<result property='status' column='Type_Status_id'/>
    </resultMap>
	
	<insert id="insertInitiative" parameterType="Initiative">
		INSERT INTO "Initiative"
		(id, description, area, num_votos,creation_date,User_id,modify_date) 
		VALUES((select count(*)+1 from "initiative"),#{description},#{area},#{nvotos},#{creation},#{idus},#{modification})
	</insert>
	
	<select id="load" resultMap="InitiativeResult" parameterType="map">
        SELECT i.id,
			i.description,
			i.area,
			i.creation_date,
			i.num_votos
        FROM "Initiative" as i, Key_words as kw, word_initiative as wi
        <!--  Esta mal -->
		WHERE kw.word= #{keywords} and kw.id=wi.Key_words_id and wi.Initiative_id=i.id
    </select>
	
</mapper>