<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.InitiativeMapper">

    <resultMap type='Initiative' id='InitiativeResult'>
        <id property='id' column='id'/>        
        <result property='description' column='description'/>
		<result property='area' column='area'/>
		<result property='numVotes' column='num_votos'/>
		<result property='startDate' column='creation_date'/>
		<result property='modifyDate' column='modify_date'/>
		<association property='user' javaType='User' resultMap='edu.eci.pdsw.persistence.mybatisimpl.mappers.UserMapper.UserResult'></association>
		<association property='status' javaType='TypeStatus' resultMap='edu.eci.pdsw.persistence.mybatisimpl.mappers.InitiativeMapper.StatusResult'></association>
		<collection property='keyWords' ofType='java.lang.String' javaType="list">
			<result column='word' />
		</collection>
    </resultMap>
    
    <resultMap type='TypeStatus' id='StatusResult'>
    	<id property='id' column='id'/>        
        <result property='status' column='status'/>
    </resultMap>
    
    <resultMap type="Keyword" id="KeywordResult">
    	<id property='id' column='id'/>        
        <result property='keyword' column='word'/>
    </resultMap>
    
    <resultMap type="chartInitiative" id="chartInitiativeResult">
    	<result property='area' column='area'/>        
        <result property='cantidad' column='cantidad'/>
    </resultMap>
     
    <insert id="insertKeyword" parameterType="String">
    	INSERT INTO "key_words" VALUES ((select count(*)+1 from "key_words"), #{keyword});
    </insert>
    
    <insert id="insertWordInitiative">
    	INSERT INTO "word_initiative" (initiative_id, key_words_id) VALUES ((select max(id) from "initiative"), (select max(id) from "key_words"));
    </insert>
    
    <insert id="insertWordInitiativeId" parameterType="int">
    	INSERT INTO "word_initiative" (initiative_id, key_words_id) VALUES ((select max(id) from "initiative"), #{id});
    </insert>
    
	<insert id="insertInitiative" parameterType="Initiative">
		INSERT INTO "initiative"
		(id, description, area, num_votos,creation_date,User_id,modify_date,type_status_id) 
		VALUES((select count(*)+1 from "initiative"),#{description},#{area},#{nvotos},#{creation},#{idus},#{modification},#{state})
	</insert>
	
	<insert id="insertInterested"  parameterType="int">
    	INSERT INTO "interested" (initiative_id, user_id) VALUES (#{idIni}, #{idUser});
    </insert>
    
    <delete id="deleteInterested"  parameterType="int">
    	DELETE FROM "interested" WHERE initiative_id=#{idIni} AND user_id=#{idUser};
    </delete>
    
	<select id="loadInterested" resultMap="edu.eci.pdsw.persistence.mybatisimpl.mappers.UserMapper.UserResult" parameterType="map">
		SELECT u.id idus,
			u.name,
			u.email,
			u.Type_user tuser,
			u.lastname
        FROM "User" as u, "interested" as i
        WHERE i.initiative_id=#{id} and i.user_id=u.id;
    </select>
    
	<select id="load" resultMap="InitiativeResult" parameterType="map">
        SELECT i.id,
			i.description,
			i.area,
			i.creation_date,
			i.modify_date,
			i.user_id,
			ts.status as status,
			i.num_votos,
			kw.word,
			u.id idus,
			u.name,
			u.email,
			u.Type_user tuser,
			u.lastname
	    FROM (SELECT ini.*  FROM initiative ini, key_words kwo, word_initiative woi where kwo.id=woi.Key_words_id and woi.Initiative_id=ini.id and kwo.word= #{keyword}) as i, Key_words as kw, word_initiative as wi, type_status as ts, "User" as u
	    WHERE kw.id=wi.Key_words_id and wi.Initiative_id=i.id and ts.status = i.type_status_id and i.user_id = u.id ;
    </select>
    
    <select id='loadId' resultMap= 'InitiativeResult' parameterType='map'>
    	SELECT i.id,
			i.description,
			i.area,
			i.creation_date,
			i.modify_date,
			i.user_id,
			ts.status as status,
			i.num_votos,
			kw.word,
			u.id idus,
			u.name,
			u.email,
			u.Type_user tuser,
			u.lastname
	    FROM Initiative as i, Key_words as kw, word_initiative as wi, type_status as ts, "User" as u
	    where kw.id=wi.Key_words_id and i.id=#{id} and ts.status = i.type_status_id and i.user_id = u.id and wi.initiative_id = i.id;
    </select>
	
	<select id="loadAll" resultMap="InitiativeResult" parameterType="map">
        SELECT i.id,
			i.description,
			i.area,
			i.creation_date,
			i.modify_date,
			i.user_id,
			ts.status as status,
			i.num_votos,
			kw.word,
			u.id idus,
			u.name,
			u.email,
			u.Type_user tuser,
			u.lastname
	    FROM Initiative as i, Key_words as kw, word_initiative as wi, type_status as ts, "User" as u
	    where kw.id=wi.Key_words_id and ts.status = i.type_status_id and i.user_id = u.id and wi.initiative_id = i.id;
		
    </select>
    
    <select id="loadKeywordInitiative" resultMap="KeywordResult" parameterType="map">
        SELECT kw.id,kw.word
		from initiative as i, word_initiative as wi, key_words as kw
		where i.id=#{id} and wi.initiative_id=i.id and kw.id=wi.key_words_id
   </select>
    
    
    <select id="listStatus" resultMap="StatusResult" parameterType="map">
    	select status from type_status;
    </select>
    
    <select id="listKeywords" resultMap= "KeywordResult" parameterType="map">
    	select id, word from key_words;
    </select>
    
    <select id="getDataChart" resultMap= "chartInitiativeResult" parameterType="map">
    	select area, count(*) as cantidad 
    	from initiative 
		group by area;
    </select>
    
	<update id="modifyInitiative">
		update initiative set type_status_id= #{newStatus} where id= #{id};
	</update>
	
	
	
</mapper>