<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.UserMapper">

    <resultMap type='User' id='UserResult'>
        <id property='id' column='idus'/>        
        <result property='name' column='name'/>
		<result property='email' column='email'/>
		<result property='type' column='tuser' typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
    </resultMap>

    <select id="getUserByCredentials" resultMap="UserResult" parameterType="map">
        SELECT u.id idus,
			u.name,
			u.email,
			u.Type_user tuser
        FROM "User" as u
		WHERE email = #{email} AND password = #{password} 
    </select>
    
    <select id='consultUsers' resultMap= 'UserResult'>
    	SELECT u.id idus,
			u.name,
			u.email,
			u.Type_user tuser
        FROM "User" as u    
    </select>
</mapper>