<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
    	<typeAlias type='edu.eci.pdsw.entities.User' alias='User'/>
    	<typeAlias type='edu.eci.pdsw.entities.Initiative' alias='Initiative'/>
    </typeAliases>        

        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
				<property name="url" value="jdbc:postgresql://ec2-107-21-93-132.compute-1.amazonaws.com:5432/dacts9tk3m0pmt?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="whhatikoabxnub" />
                <property name="password" value="c4eb0ac28c72d7aded51ad911d5ff544d88d30f72e9737fec1856b4891d90b21" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
    	<mapper resource="mappers/UserMapper.xml"></mapper>          
    	<mapper resource="mappers/InitiativeMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>